*{
	margin:0;
	padding:0;
}
body{
	background-color: white;
}

.headtitle{
	/*width:100%;*/
	/*margin:auto;*/
	display:flex;
	justify-content:space-between;
	padding: 1vw 2vw;

}
.headtitle>span{
	
	font-size: 5vw;
	font-weight: bold;
}
/*.headtitle>button{
	/*width:15vw;*/
	/*font-size: 2vw;
	background-color: rgb(120,20,10);
}*/
.describe{
	padding: 0 2vw;
	font-size: 2vw;
}

.tot-players{
	border: 1px solid rgb(220,220,220);
	background-color: rgb(250,250,250);
	border-radius: 1px;
	font-size: 1.7vw;
	margin:2vw 0;
} 
.tot-players:hover{
		color:white;
		background-color: rgb(20,100,200);
		border: 1px solid rgb(20,100,200);
		/*border-radius: 10px;*/
	
}
.tips-head{
	padding: 1vw 2vw;
	border-bottom: 1px solid rgb(220,220,220);
}
.msg-input{
	background-color: white;
	color:black!important;
	padding: 1vw 2vw;
	display:flex;
	justify-content:space-between;

	/*border:1px solid rgb(220,220,220);*/
	/*border-radius: 10px;*/
}
.num-input{
	width:80%;
}

.myBtns{
	display:flex;
	justify-content:space-between;
	padding:1vw 2vw;
}
button{
	padding:1vw;
	color:white;
	border-radius: 10px;
	outline: none;
	font-size: 2vw;
	background-color: rgb(120,20,10);
	/*border:none;*/

}
.goback{
	background-color: rgb(120,20,10);
}
.playgame{
	background-color: rgb(20,120,10);
}
input{
	outline: none;
	
}
