main{
	width:100%;
    
    padding:13vw 0 ;
    font-size:3rem;
	text-align:center;
	background-color: white;
	.settingTitle{
		font-size:4vw;
		margin:1vw 4vw;
		box-shadow: 1px 1px 5px #808080;
		padding:2vw;
	}
	.player-info{
		display:flex;
		height:30vh;
		margin:0 4vw 1vw 4vw;
		border-bottom:1px solid #808080;
		.playerRole{
			width:50%;
			margin:5vw 0;
			img{
				vertical-align:middle;
			}
			span{
				color:red;
				margin:0 1vw;
			}
		}
	}
	.input-part{
		margin:20% 0;
		span{
			color:orange;
			input{
				border:none;
				outline:none;
				color:orange;
				font-size:4vw;
				text-align:center;
				background-color:#ddd;
			}
		}
		.sub-tips{
			font-size:2vw;
		}
	}

}