*{
    margin:0;
    padding:0;
}
html{
    font-size:62.5%;
}
body{
    background:rgb(239,239,239);
    height:100%;
}

/**
header format
 */
header{
    width:100%;
    background-color: rgb(52,190,222);
    position:fixed;
    top: 0;
    height:6rem;
    z-index:9999;
}
.more1{
    width:4rem;
    height:4rem;
    background-color: rgb(52,190,222);
    outline:none;
    border:none;
    margin:1rem;
    padding:0;
}

/**
cont format
 */
.cont{
    padding: 6rem 0 0 3rem;
    bottom:0;
}
.head{
    height:auto;
    color:rgb(180,180,180);
    font-size:4rem;
    text-align: center;
    border:0.15rem solid rgb(180,180,180);
    position:relative;
    padding:2%;
    margin:5% 0;
    background-color:white;
}
.back-btn{
    position:absolute;
    right:3%;
    top:50%;
    transform: translateY(-50%);
}
.game-sel{
    border:0.15rem solid rgb(180,180,180);
    position:relative;
    background-color:#fff;
}
button{
    font-size:4rem;
    width:100%;
    color:white;
    background-color: rgb(52,190,222);
    outline:none;
    border:none;
    padding:4% 0;
}
.game-info{
    font-size:4.5rem;
    text-align: center;
    color:rgb(249,197,112);
    padding:2rem 0;
    border-bottom:0.1rem solid rgb(249,197,112);
}
.cols{
    font-size:3.5rem;
    text-align: center;
    margin:3rem 10%;
    width:80%;
}
.right-arrow{
    position:absolute;
    top:45%;
    right:3%;
}
p{
    display:inline-block;
    margin:1rem 0;
    font-size:3rem;
    color:rgb(139,139,139);
}

/**
下面4个点
 */
.dot1,.dot2,.dot3,.dot4{
    width:2rem;
    height:2rem;
    background-color: rgb(180,180,180);
    border-radius: 50%;
    margin:0 1rem;
}
.dot1{
    background-color:rgb(52,190,222);
}
.dots{
    display:flex;
    justify-content: center;
    margin:2rem 0;
}



