*{
    margin:0;
    padding:0;
}
html{
    font-size:62.5%;
}
@media (max-width: 1000px) {
    html {
        font-size: 62.5%;
    }
}
@media (max-width: 800px) {
    html {
        font-size: 50%;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 37.5%;
    }
}
@media (max-width: 400px) {
    html {
        font-size: 25%;
    }
}
@media (max-width: 200px) {
    html {
        font-size: 12.5%;
    }
}
body{
    background:rgb(239,239,239);
    height:100%;
}

/**
header format
 */
header{
    width:100%;
    background-color: rgb(52,190,222);
    position:fixed;
    top: 0;
    height:10vw;
    z-index:9999;
}
.more1{
    width:6vw;
    height:6vw;
    /*background-color: rgb(52,190,222);*/
    background:url("images/more-btn.png") center center no-repeat;
    background-size:100%;
    outline:none;
    border:none;
    margin:2vw;
    padding:0;
}

/**
cont format
 */
.cont{
    padding: 10vw 3vw 6vw;
    bottom:0;
    height:100vh;
}
.head{
    height:auto;
    color:rgb(180,180,180);
    font-size:4rem;
    text-align: center;
    border:0.15rem solid rgb(180,180,180);
    position:relative;
    padding:2%;
    margin:5% 0;
    background-color:white;
}
.back-btn{
    position:absolute;
    right:3%;
    top:50%;
    transform: translateY(-50%);
    width:3vw;
    height:8vw;
    max-width:30px;
    max-height:80px;
}
.game-sel{
    border:0.15rem solid rgb(180,180,180);
    position:relative;
    background-color:#fff;
    
}
button{
    font-size:4rem;
    width:100%;
    color:white;
    background-color: rgb(52,190,222);
    outline:none;
    border:none;
    padding:4% 0;
}
.game-info{
    font-size:4.5rem;
    text-align: center;
    color:rgb(249,197,112);
    padding:4vw 0;
    border-bottom:0.1rem solid rgb(249,197,112);
}
.cols{
    font-size:3.5rem;
    text-align: center;
    margin:3vw 10%;
    width:80%;
    height:80%;
}
.right-arrow{
    position:absolute;
    top:42%;
    right:3%;
    width:6vw;
    height:12vw;
}
.rig-btn{
    background:url("images/next-btn.png") center center no-repeat;
    background-size:70%;
    width:100%;
    height:100%;
}
p{
    display:inline-block;
    margin:1rem 0;
    font-size:3rem;
    color:rgb(139,139,139);
}

/**
下面4个点
 */
.dot1,.dot2,.dot3,.dot4{
    width:2vw;
    height:2vw;
    background-color: rgb(180,180,180);
    border-radius: 50%;
    margin:0 1vw;
}
.dot1{
    background-color:rgb(52,190,222);
}
.dots{
    display:flex;
    justify-content: center;
    margin:2vw 0;

}



